{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Article Create</title>
</head>
<body>
<h1>New Article</h1>
<div class="form">
    <form action="/article/add/" method="post">
        {% csrf_token %}
        <div class="form_row">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
     <select name="text">
      <option>new</option>
      <option>in process</option>
      <option>done</option>
    </select>
        <div class="form_row">
            <input type="submit">
        </div>
    </form>
</div>
</body>
</html>